/*
 * LESS FUNCTIONS
 *-------------*/
.generate-opa(@n, @value: 1) when (@value =< @n) {
    .opa@{value} {
        @opaPerc : @value * 10;
        @opaFloat : @value / 10;
        zoom: 1;
        filter: alpha(opacity=@opaPerc);
        opacity: @opaFloat;
    }
    .generate-opa(@n, (@value + 1));
}

.generate-round(@n, @value: 2) when (@value =< @n) {
    .round@{value} {
        -moz-border-radius:1px * @value;
        -webkit-border-radius:1px * @value;
        border-radius:1px * @value;
    }
    .generate-round(@n, (@value + 2));
}

.generate-pad(@n, @value: 5) when (@value =< @n) {
    .pad@{value} {
        padding:1px * @value;
    }
    .generate-pad(@n, (@value + 5));
}

.generate-g(@n, @value: 1) when ((@value * 60) =< @n) {
    .g@{value} {
        width:60px * @value;
    }
    .generate-g(@n, (@value + 1));
}

.generate-p(@n, @value: 5) when ((@value) =< @n) {
    .p@{value} {
        width:1% * @value;
    }
    .generate-p(@n, (@value + 5));
}
/*-------------------
 * LESS FUNCTIONS END
 */

/*
 * CLEARER
 */
.clearer, .clearfix{
    clear: both;
    display: block;
    zoom: 1;
    height: 0;
    font-size: 0;
    width: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}

/* MEANT TO BE USED IN PARENT CONTAINER OF FLOATING ELEMENTS (>=IE8) */
.group:after {
  content: "";
  display: table;
  clear: both;
}
/*
* OTHERWISE, IF IE7 IS NEEDED USE THE FOLLOWING
*    .group:before,
*    .group:after {
*        content: "";
*        display: table;
*    } 
*    
*    .group:after {
*        clear: both;
*    }
*
*    .group {
*        zoom: 1;
*   }
*/





body{
    max-width:100% !important;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}
body.console{
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

strong, b{
    font-weight:bold !important;
}

i{
    font-style: italic !important;
}





img{
    max-width: 100% !important;
    height: auto !important;
}

sup, sub{font-size:0.7em;}

sup{vertical-align: super;}

sub{vertical-align: sub;}

.floatl{float:left;}

.floatr{float:right;}

pre{
    font-family:monospace;
}
h1,h2,h3,h4,h5,h6{font-weight:bold;}

/*
h1{font-size:24px; line-height:48px; padding:24px 0px 12px;}
h2{font-size:18px; line-height:36px; padding:18px 0px 9px;}
h3{font-size:14px; line-height:28px; padding:14px 0px 7px;}
h4{font-size:12px; line-height:24px; padding:12px 0px 6px;}
h5{font-size:10px; line-height:20px; padding:10px 0px 5px;}
h6{font-size:8px; line-height:16px; padding:8px 0px 4px;}
*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* less parametric mixins */
.generate-opa(9);
.generate-round(20);
.generate-pad(20);
.generate-g(2520);
.generate-p(100);
.p33{
    width:33.3%
}

*.resp_mobi {
    display:none;
}

*.resp_dskt {
    display:block;
} 

@media screen {
    img {   
        //  width: auto !important; /* for ie 8 */
    }
}

@media (max-width: 720px) {
    body.resp {
        width :90%;
        margin: 0 auto;
        padding:0px 5% !important;
        padding-top : inherit;
        padding-bottom : inherit;
    }

    *.resp_mobi {
        display:block!important;
    }
    *.resp_dskt {
        display:none!important;
    }  
    
    div:not(.respfixed){
        clear:both;
        width:100% !important;
        margin:0 auto;
    }
}

@media (min-width: 720px) {
    body.resp {
        width :710px !important;
        padding:0px 5px !important;
    }
}

@media (min-width: 960px) {
    body.resp {
        width :950px !important;
        padding:0px 5px !important;
    }
}

@media (min-width: 1200px) {
    body.resp {
        width :1190px !important;
        padding:0px 5px !important;
    }
}

@media (min-width: 1560px) {
    body.resp {
        width :1550px !important;
        padding:0px 5px !important;
    }
}

@media (min-width: 1920px) {
    body.resp {
        width :1910px !important;
        padding:0px 5px !important;
    }
}

@media (min-width: 2520px) {
    body.resp {
        width :2510px !important;
        padding:0px 5px !important;
    }
}

/* fullscreen */
*:-webkit-full-screen  { width: 100% }
*:-moz-full-screen     { width: 100% }
*:-ms-full-screen      { width: 100% }
*:-o-full-screen       { width: 100% }
*:full-screen          { width: 100% }

*:-webkit-full-screen img { width: 100% }
*:-moz-full-screen    img { width: 100% }
*:-ms-full-screen     img { width: 100% }
*:-o-full-screen      img { width: 100% }
*:full-screen         img { width: 100% }

.round-side-vars(@side) when(@side = "top"){
    @sideA1 : bottomleft;
    @sideA2 : bottomright;
    @sideB1 : bottom-left;
    @sideB2 : bottom-right;
}

.round-side-vars(@side) when(@side = "bottom"){
    @sideA1 : topleft;
    @sideA2 : topright;
    @sideB1 : top-left;
    @sideB2 : top-right;
}

.round-side-vars(@side) when(@side = "left"){
    @sideA1 : topright;
    @sideA2 : bottomright;
    @sideB1 : top-right;
    @sideB2 : bottom-right;
}

.round-side-vars(@side) when(@side = "right"){
    @sideA1 : topleft;
    @sideA2 : bottomleft;
    @sideB1 : top-left;
    @sideB2 : bottom-left;
}

.round-side(@side){
    .round-side-vars(@side);
    -moz-border-radius-@{sideA1}: 0px;
    -moz-border-radius-@{sideA2}:0px;
    -webkit-border-@{sideB1}-radius:0px;
    -webkit-border-@{sideB2}-radius:0px;
    border-@{sideB1}-radius:0px;
    border-@{sideB2}-radius:0px;
}

.roundtop{.round-side("top");}
.roundbottom{.round-side("bottom");}
.roundleft{.round-side("left");}
.roundright{.round-side("right");}
.roundtopleft{
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.roundtopright{
    -moz-border-radius-topleft:0px;
    -moz-border-radius-bottomleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
.roundbottomleft{
    -moz-border-radius-topright:0px;
    -moz-border-radius-topleft:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
}
.roundbottomright{
    -moz-border-radius-topright:0px;
    -moz-border-radius-topleft:0px;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.roundnotopleft {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.roundnotopright {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}
.roundnobottomleft {
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}
.roundnobottomright {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}