body{
	font-size:12px;
	font-family: Gill, Helvetica, sans-serif;
	background-color:black;
	color:white;
}

div#bro{
	font-weight:bold;
	font-size:20px;
	line-height:30px;
	height:30px;
	padding:10px 0px;
}
div#summary{
	font-weight:bold;
	font-size:14px;
	line-height:20px;
	height:20px;
}
div#results{
	margin:5px;
	padding:5px;
}
div.passed, div.failed{
	line-height:20px;
	padding:5px;
	margin-bottom:10px;
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding-left:25px;
	letter-spacing: 1px;
}
div strong.time{
	padding-left:20px;
}
div.passed{
	background-color:#131;
	color:#5d5;
	border:1px solid #333;
	border-left:3px solid #5d5;
	background-image: url(../images/accept.png);
}
div.failed{
	background-color:#311;
	color:#f00;
	border:1px solid #f00;
	border-left:8px solid #f00;
	background-image: url(../images/delete.png);
	font-weight:bold;
}
div#globalResult{
	color:#fff;
	font-size:30px;
	padding:10px;
	margin-top:10px;
	padding-left:30px;
	background-position:5px 12px;
	letter-spacing: 1px;
}
div#globalResult.passed{
	background-color:#141;
	border:10px solid #0f0;
}
div#globalResult.failed{
	background-color:#411;
	border:10px solid #f00;
}
