body{
	/*font-family: Verdana, "MS Trebuchet", sans-serif;*/
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size:16px;
	
	width:960px;
	margin:0 auto;
	/*background-image: url($baseurl$/media/img/oy.png);
	background-color:#C4DDED;
	border-left: 5px solid #aaa;
    border-right: 5px solid #555;*/

    margin-top:10px;

} 
div#centerinfo{
	background-color: white;

	padding:30px;
}
p{
	padding-bottom:10px;
	padding-top:0px;
	margin:0px;
	text-align:left;
	line-height:22px;
}
label{
	font-weight:bold;
}
label.lab{
	font-weight:normal;
}


b, h3{
	font-weight:bold;
}
b.index{
	font-size:36px;
	position:relative;
	top:0px;
	color:green;
	font-weight:bold;
	position:relative;
	top:8px;
	padding-right:10px;
	height:20px;
	line-height:20px;
}



h3{
	padding-top:15px;
	padding-bottom:5px;
	margin:0px;
}

a{
	color:#888;
	text-decoration:none;
}
a:hover{
	color:#a00;
}
ul{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
ul li{
	margin:0px;
	padding:0px;
}

div#footer{
	height:40px;
}
p.footer{
	text-align:center
}
span.desc{
	/*display:block;*/
	line-height:22px;
}
ul.features p.feature{
	margin-left: 40px;
    margin-top: -20px;
    margin-bottom:10px;
    padding:0px;
}
ul.inner{
	margin-left:30px;
	list-style-type: disc;
	margin-bottom:10px;
}
ul.inner li{
	line-height:22px;
}

