body{
	font-family: Verdana, "MS Trebuchet", sans-serif;
	font-size:12px;
	background-color:#C4DDED;
	width:600px;
	margin:0 auto;
} 
p{
	padding-bottom:10px;
	padding-top:0px;
	margin:0px;
	text-align:justify;
}
label{
	font-weight:bold;
}
label.lab{
	font-weight:normal;
}
.cl1_Controller{
	background-color: #ffefef;
}
.cl2_Controller{
	background-color: #fff;
}
.cl1_View{
	background-color: #efffef;
}
.cl2_View{
	background-color: #fff;
}
.cl1_Model{
	background-color: #efefff;
}
.cl2_Model{
	background-color: #fff;
}
.cl1_Dom{
	background-color: #ffffef;
}
.cl2_Dom{
	background-color: #fff;
}
.cl1_Events{
	background-color: #ffefff;
}
.cl2_Events{
	background-color: #fff;
}
h3{
	padding-top:15px;
	padding-bottom:5px;
	margin:0px;
}