body{
	font-family: Verdana, "MS Trebuchet", sans-serif;
	font-size:12px;
	background-color:#C4DDED;
	width:600px;
	margin:0 auto;
	background-image: url($baseurl$/media/img/pattern.jpg);
} 
p{
	padding-bottom:10px;
	padding-top:0px;
	margin:0px;
	text-align:justify;
}
label{
	font-weight:bold;
}
label.lab{
	font-weight:normal;
}
.cl1_Controller{
	background-color: #ffefef;
}
.cl2_Controller{
	background-color: #fff;
}
.cl1_View{
	background-color: #efffef;
}
.cl2_View{
	background-color: #fff;
}
.cl1_Model{
	background-color: #efefff;
}
.cl2_Model{
	background-color: #fff;
}
.cl1_Dom{
	background-color: #ffffef;
}
.cl2_Dom{
	background-color: #fff;
}
.cl1_Events{
	background-color: #ffefff;
}
.cl2_Events{
	background-color: #fff;
}
h3{
	padding-top:15px;
	padding-bottom:5px;
	margin:0px;
}
h3.apisection{
	padding-top:15px;
	padding-bottom:5px;
	margin:0px;
	text-decoration:underline;
	color:red;
}
div#guest{
	padding-top: 20px;
	padding-bottom:20px;
	font-size:20px;
}
tr{
	margin-top:10px;
}
tr > td {
	padding-bottom:8px;
	height:0px;
	line-height:18px;
} 
hr{
	height:5px;
	border:1px solid black;
	background-color:white;
}
a{
	color:#888;
	text-decoration:none;
}
a:hover{
	color:#faa;
}
ul{
	margin:0px;
	padding:0px;
	list-style-type:circle;
}
ul li{
	margin:0px;
	padding:0px;
	padding-left:5px;
	margin-left:15px;
}
div#centerinfo{
	background-color: white;
	padding:10px;
}
.prova1{
	$mystyle$
}
.prova2{
	$mystyle$
}
