body{
	background-color:black;
	overflow:hidden;
}
#extralogo{
	/*
	background-image: url($baseurl$/media/css/logo3w.png);
	background-position:5px 5px;
	background-repeat: no-repeat;
	*/
}
#extralogo span.point{
	display:block;
	position:absolute;
	font-size:0px;
	line-height:3px;
	height:3px;
	top:-10px;
	left:-10px;
	cursor:default;	
	color:black;
}
#extralogo span.point.G{color:#166CEC;}
#extralogo span.point.o1{color:#D7422C;}
#extralogo span.point.o2{color:#FFB706;}
#extralogo span.point.g{color:#166CEC;}
#extralogo span.point.l{color:#009D59;}
#extralogo span.point.e{color:#D7422C;}
#extralogo span.point.t{color:#ff0000;}
