html, body{
	height:100%;
}

body{
	background-color:black;
	overflow:hidden;
}

.point{
	display:block;
	position:absolute;
	font-size:0px;
	font-size:8px;
	line-height:3px;
	height:3px;
	top:-10px;
	left:-10px;
	cursor:default;	
	color:black;
}
.G{color:#166CEC;}

.o1{color:#D7422C;}
.o2{color:#FFB706;}
.g{color:#166CEC;}

.l{color:#009D59;}
.e{color:#D7422C;}



.g{color:#fff;}

.e{color:#fff;}
