body{
	background-color:black;
}
#extralogo span.point{
	display:block;
	position:absolute;
	font-size:8px;
	line-height:3px;
	height:3px;
	top:-10px;
	left:-10px;
	cursor:default;	
}
#extralogo span.point.j{
	color:#aaa;
}
#extralogo span.point.m{
	color:#cc0000;
}
#extralogo span.point.v{
	color:#00aa00;
}
#extralogo span.point.c{
	color:#0000cc;
}
