body{	
	color: #003366;
	margin:0px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background-color:#fff;
}
div#cent{
	color: #009933;
	padding:10px;
	letter-spacing: 5px;
	font-size:20px;
	font-weight:bold;
	width:580px;

	margin:0 auto;
	text-align:center;
	padding-top:130px;
	padding-bottom:130px;
}
a{
	color:#aaa;
	text-decoration:none;
	font-size:20px;
	letter-spacing: 0px;
}
a:hover{
	color:#555;
}

