body{	
	margin:0px;
/*	font-family: Verdana,Arial,Helvetica,sans-serif;
	"Lucida Console","Monaco",monospace*/
	font-family: "Lucida Grande","Lucida Sans Unicode",sans-serif;
	font-size: 16px;
	/* background-image: url($baseurl$/media/img/oy.png); */	
	margin-bottom:20px;
	/*background-color: $bgcolor$;*/
}
div#cent{

	padding:20px;
	letter-spacing: 5px;

	margin:0 auto;
	text-align:center;
	/*
	background-image : url($baseurl$/media/css/sf1.jpeg);
	background-repeat : repeat-x;
 */
}

div.pagewrap h1{padding-bottom:40px;text-shadow:0px 0px 8px #fff;}
div.pagewrap h6{margin:0px;padding:0px;}
div.pagewrap a{	
	color:red;
	text-decoration:none;

	font-weight:bold;
	letter-spacing: 0px;
}
div.pagewrap a:hover{
	text-shadow:0px 0px 10px #fff;
	color:#0A0;
}


#extralogo{
	text-align: center;
	margin:0 auto;
	margin-top:80px;
	margin-bottom:40px;
	padding-left: 10px;
    padding-right: 10px;
}


img.bg {
	/* Set rules to fill background */
	align:center;
	
	/* Set up proportionate scaling */
	width: 50%;
	margin: 0 25%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
div.pagewrap{
	position:relative;
	z-index:5;
}

h1.tryme{
	padding-bottom: 20px;
}


a.homelinks{
	border:2px solid transparent;
	padding:0px 10px;
	margin:3px;
	display:inline-block;
	zoom:1;
	text-align:center;
	*display:inline;
}
a.homelinks:hover{
	border:2px solid #eee;
	background-color:#fafafa;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}


div#topbar{
	background-color:#ddd;
	height:20px;
	border-bottom:1px solid #888;
}


/*****/
/*
body.mini {
	font-size: 20px;
}
body.mini h1 {
	display: none;
}
*/
