# ###########################
#      ___  ____     ______ 
#     (_)  \/  \ \   / / ___|
#     | | |\/| |\ \ / / |    
#     | | |  | | \ V /| |___ 
#   _/ |_|  |_|  \_/  \____|
#  |__/    
#
# ###########################

<IfModule mod_rewrite.c>
	RewriteEngine On

	#	comment RewriteBase for go in localhost
	RewriteBase /

	#	per modelli, viste e controller e storage
	RewriteRule ^(app|media)(.*)?$ - [L]

	#	Page (if not a file/directory)
	RewriteCond   %{REQUEST_FILENAME} !-d
	RewriteCond   %{REQUEST_FILENAME} !-f
	#
	RewriteRule ^.*$ index.html [PT,L]
</IfModule>

<ifmodule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>

<filesMatch "\.(html|htm|js|css|jpeg|jpg|gif|png|ico)$">
	FileETag None
</filesMatch>
	
<ifModule mod_headers.c>
	# year
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
		Header set Cache-Control "max-age=31104000, must-revalidate"
		Header unset Last-Modified
	</FilesMatch>
	
	#1 month
	<FilesMatch "\.(js|css)$">
		Header set Cache-Control "max-age=2592000, must-revalidate"
	</FilesMatch>
	
	#2 hours
	<FilesMatch "\.(html|htm|xml|txt|xsl)$">
		Header set Cache-Control "max-age=7200, must-revalidate"
	</FilesMatch>
</ifModule>    
