##################################################
#
#	          _/  _/      _/  _/      _/    _/_/_/
#	         _/  _/_/  _/_/  _/      _/  _/
#  	        _/  _/  _/  _/  _/      _/  _/
# 	 _/    _/  _/      _/    _/  _/    _/
#	  _/_/    _/      _/      _/        _/_/_/
#
#################################################


# some security
## https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
Header always set X-Frame-Options SAMEORIGIN

## https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content-Type-Options





# pass the default character set
AddDefaultCharset utf-8

# disable the server signature
ServerSignature Off

<ifModule mod_env.c>
	# set the server timezone
	SetEnv TZ Europe/Rome
</ifModule>
# disable folder listing
Options -Indexes

<ifmodule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/json application/xml
</ifmodule>


# FileETag MTime Size
<ifmodule mod_expires.c>
   <filesmatch "\.(html|htm|js|css|jpeg|jpg|gif|png|ico)$">
        ExpiresActive on
        ExpiresDefault "access plus 1 year"
    </filesmatch>
</ifmodule>
	
<ifModule mod_headers.c>
	# XSS protection
	Header set X-XSS-Protection "1; mode=block"
	
	#CORS, {*, null, or exact domain(http://ws.jmvc.org)}
	Header set Access-Control-Allow-Origin "*"

	# content security policy
	# Header add Content-Security-Policy-Report-Only "default-src 'self'; form-action 'none'; frame-ancestors 'none'; style-src 'self' 'unsafe-inline'; script-src 'self'; img-src 'self'"
	# Header add Content-Security-Policy "default-src *"

	# X-Content-Type-Options
	Header always set X-Content-Type-Options "nosniff"

	# The Referrer Policy header
	Header always set Referrer-Policy "same-origin"

	# Feature-Policy header
	Header always set Feature-Policy "camera 'none'"


	# 0
	 <FilesMatch "jmvc(\.min)?\.js$">
    	Header unset Cache-Control
	 </FilesMatch>



	# Header set Cache-Control "no-cache, no-store, must-revalidate"
	# Header set Pragma "no-cache"
	# Header set Expires 0



	# year
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|svg|swf|mp3|mp4)$">
		Header set Cache-Control "max-age=31104000, must-revalidate"
		Header unset Last-Modified
	</FilesMatch>
	
	#1 month
	<FilesMatch "\.(js|css|json)$">
		Header append Vary: Accept-Encoding
		Header set Cache-Control "max-age=2592000, must-revalidate"
	</FilesMatch>
	
	#2 hours
	<FilesMatch "\.(html|htm|xml|txt|xsl|xml)$">
		Header set Cache-Control "max-age=7200, must-revalidate"
	</FilesMatch>
</ifModule>    

<IfModule mod_rewrite.c>
	RewriteEngine On

	# comment RewriteBase for go in localhost
	RewriteBase /

	# PREVENT HOTLINKING
	# RewriteCond %{HTTP_REFERER} !^$
	# RewriteCond %{HTTP_REFERER} !^http://www.jmvc.dev/.*$ [NC]
	# RewriteRule .*.(png|gif|jpe?g)$ [F,NC]
	# RewriteCond %{HTTP_REFERER} !^$
	# RewriteCond %{HTTP_REFERER} !^http://www.jmvc.dev/.*$ [NC]
	# RewriteRule \.(js)$ http://www.jmvc.dev/hotlink.js [R,L]

	# models, views, controllers, extensions and media
	RewriteRule ^(app|media)(.*)?$ - [L]

	#for WS
	RewriteRule ^sub.php?$ - [L]

	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

	#	Page (if not a file/directory)
	RewriteCond   %{REQUEST_FILENAME} !-d
	RewriteCond   %{REQUEST_FILENAME} !-f
	
	#
	RewriteRule ^.*$ index.html [PT,L]
</IfModule>

# SP BEGIN php handler
<IfModule mod_fcgid.c>
          AddHandler fcgid-script .php .php5 .php7 .phtml
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php73 .php
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php73 .php5
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php73 .php7
          FcgidWrapper    /usr/local/cpanel/cgi-sys/sp-ea-php73 .phtml
</IfModule>
# SP END php handler

