##################################################
#
#	          _/  _/      _/  _/      _/    _/_/_/
#	         _/  _/_/  _/_/  _/      _/  _/
# 	       _/  _/  _/  _/  _/      _/  _/
# 	_/    _/  _/      _/    _/  _/    _/
#	  _/_/    _/      _/      _/        _/_/_/
#
#################################################




# pass the default character set
AddDefaultCharset utf-8

# disable the server signature
ServerSignature Off

<ifModule mod_env.c>
	# set the server timezone
	SetEnv TZ Europe/Rome
</ifModule>
# disable folde listing
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On

	#	comment RewriteBase for go in localhost
	RewriteBase /

	# models, views, controllers, extensions and media
	RewriteRule ^(app|media)(.*)?$ - [L]

	#for WS
	RewriteRule ^sub.php?$ - [L]

	#	Page (if not a file/directory)
	RewriteCond   %{REQUEST_FILENAME} !-d
	RewriteCond   %{REQUEST_FILENAME} !-f
	
	#
	RewriteRule ^.*$ index.html [PT,L]
</IfModule>

<ifmodule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript application/json application/xml
</ifmodule>

FileETag MTime Size
<ifmodule mod_expires.c>
  <filesmatch "\.(html|htm|js|css|jpeg|jpg|gif|png|ico)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </filesmatch>
</ifmodule>

	
<ifModule mod_headers.c>
	#CORS
	Header set Access-Control-Allow-Origin "*"

	# year
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|svg|swf|mp3|mp4)$">
		Header set Cache-Control "max-age=31104000, must-revalidate"
		Header unset Last-Modified
	</FilesMatch>
	
	#1 month
	<FilesMatch "\.(js|css|json)$">
		Header set Cache-Control "max-age=2592000, must-revalidate"
	</FilesMatch>
	
	#2 hours
	<FilesMatch "\.(html|htm|xml|txt|xsl|xml)$">
		Header set Cache-Control "max-age=7200, must-revalidate"
	</FilesMatch>
</ifModule>    
