canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: white;
    cursor: crosshair;
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
} 

#panel {
    background-color:#222;
    position:absolute;

    border:solid 2px #ddd;
    -moz-border-radius-bottomleft:30px;
    -webkit-border-bottom-left-radius:30px;
    border-bottom-left-radius:30px;
    border-top:none;
    border-right:none;
    
    -moz-box-shadow: -3px 3px 3px #aaa;
    -webkit-box-shadow: -3px 3px 3px #aaa;
    box-shadow: -3px 3px 3px #aaa;
    color:white;font-size:10px;

}
#panel>div.wrapper{
    padding:10px;
    background-color:#000;
}
#panel hr {
    background-color: #555;
    height:1px;
    border:none;
}
#panel ul#toolOptions>li {
    line-height:16px;
    padding: 0px 5px;
    margin:2px;
    margin-bottom:5px;
    border:solid 1px #ddd;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    cursor:pointer;
}
#panel ul#toolOptions>li:hover{
    border:solid 1px #fff;
    background-color:#222;
}
#panel ul#toolOptions>li.active{
    background-color:#444;
}

ul#panelTools li{
    float:left;
    border:1px solid red;
    padding:2px;
    margin:2px;
    cursor:pointer;
}

#panel h1, #panel h2, #panel h3, #panel h4, #panel h5, #panel h6 {
    padding:0px;
}

div.colorpicker div.hue{
    width : 360px;
    height : 17px;
    background-color : transparent;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
}
div.colorpicker div.hue input[type=range] {
    position:absolute;
    top:-3px;
    left:0px;
    width:100%;
} 
div.colorpicker div.hue div.huethick{
    float:left;
    height:20px;
    width:1px;
}
div.colorwrap{
    float:left;
    background-color:white;
    margin-top:20px;
    margin-left:20px;
}
div.colorpicker div.color{
    width:100px;
    height:100px;
    margin:2px;
    border:1px solid #aaa;
}
div.colorpicker input[type=range]{
    width:224px;
    margin:0px;
    padding:0px;
}
div.colorpicker ul{
    float:left;

}
 /************************************************/
/* TOOLS SECTION                                */


