/*
[MALTA] reset.css
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
-----------------
*/
/*
 * //
 * 
 */
.clearer {
  clear: both;
  display: block;
  zoom: 1;
  height: 0;
  font-size: 0;
  width: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
  content: ".";
}
strong,
b {
  font-weight: bold !important;
}
i {
  font-style: italic !important;
}
body {
  max-width: 100% !important;
}
@media screen {
  img {
    /*width: auto !important; /* for ie 8 */
  }
}
img {
  max-width: 100% !important;
  height: auto !important;
}
sup,
sub {
  font-size: 0.7em;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 24px;
  line-height: 48px;
  padding: 24px 0px 12px;
}
h2 {
  font-size: 18px;
  line-height: 36px;
  padding: 18px 0px 9px;
}
h3 {
  font-size: 14px;
  line-height: 28px;
  padding: 14px 0px 7px;
}
h4 {
  font-size: 12px;
  line-height: 24px;
  padding: 12px 0px 6px;
}
h5 {
  font-size: 10px;
  line-height: 20px;
  padding: 10px 0px 5px;
}
h6 {
  font-size: 8px;
  line-height: 16px;
  padding: 8px 0px 4px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* less parametric mixins */
.opa1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  /* IE 8 */
  filter: alpha(opacity=10);
  /* IE 5-7 */
  -moz-opacity: 0.1;
  /* Netscape */
  -khtml-opacity: 0.1;
  /* Safari 1.x */
  opacity: 0.1;
  /* Good browsers */
}
.opa2 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  /* IE 8 */
  filter: alpha(opacity=20);
  /* IE 5-7 */
  -moz-opacity: 0.2;
  /* Netscape */
  -khtml-opacity: 0.2;
  /* Safari 1.x */
  opacity: 0.2;
  /* Good browsers */
}
.opa3 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  /* IE 8 */
  filter: alpha(opacity=30);
  /* IE 5-7 */
  -moz-opacity: 0.3;
  /* Netscape */
  -khtml-opacity: 0.3;
  /* Safari 1.x */
  opacity: 0.3;
  /* Good browsers */
}
.opa4 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */
  filter: alpha(opacity=40);
  /* IE 5-7 */
  -moz-opacity: 0.4;
  /* Netscape */
  -khtml-opacity: 0.4;
  /* Safari 1.x */
  opacity: 0.4;
  /* Good browsers */
}
.opa5 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 8 */
  filter: alpha(opacity=50);
  /* IE 5-7 */
  -moz-opacity: 0.5;
  /* Netscape */
  -khtml-opacity: 0.5;
  /* Safari 1.x */
  opacity: 0.5;
  /* Good browsers */
}
.opa6 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  /* IE 8 */
  filter: alpha(opacity=60);
  /* IE 5-7 */
  -moz-opacity: 0.6;
  /* Netscape */
  -khtml-opacity: 0.6;
  /* Safari 1.x */
  opacity: 0.6;
  /* Good browsers */
}
.opa7 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  /* IE 8 */
  filter: alpha(opacity=70);
  /* IE 5-7 */
  -moz-opacity: 0.7;
  /* Netscape */
  -khtml-opacity: 0.7;
  /* Safari 1.x */
  opacity: 0.7;
  /* Good browsers */
}
.opa8 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 8 */
  filter: alpha(opacity=80);
  /* IE 5-7 */
  -moz-opacity: 0.8;
  /* Netscape */
  -khtml-opacity: 0.8;
  /* Safari 1.x */
  opacity: 0.8;
  /* Good browsers */
}
.opa9 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* IE 8 */
  filter: alpha(opacity=90);
  /* IE 5-7 */
  -moz-opacity: 0.9;
  /* Netscape */
  -khtml-opacity: 0.9;
  /* Safari 1.x */
  opacity: 0.9;
  /* Good browsers */
}
.round2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.round4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.round6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.round8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.round10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.round12 {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.round14 {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
}
.pad5 {
  padding: 5px;
}
.pad10 {
  padding: 10px;
}
.pad15 {
  padding: 15px;
}
.pad20 {
  padding: 20px;
}
.roundtop {
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.roundbottom {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.roundleft {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.roundright {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.roundtopleft {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.roundtopright {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.roundbottomleft {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.roundbottomright {
  -moz-border-radius-topright: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
