/*
______________  _____    __________
______  /__   |/  /_ |  / /_  ____/
___ _  /__  /|_/ /__ | / /_  /     
/ /_/ / _  /  / / __ |/ / / /___
\____/  /_/  /_/  _____/  \____/  v.3.8

author: Federico Ghedina - fedeghe@gmail.com
build : #121 on 22/6/2017
Distributed under MIT license

*/
body{margin:0;font-family:"Lucida Grande","Lucida Sans Unicode",sans-serif;font-size:26px;background-color:#000;color:#fff}div#cent{padding:20px;letter-spacing:5px;margin:0 auto;text-align:center}div.pagewrap h1{padding-bottom:40px;text-shadow:0 0 8px #000}div.pagewrap h6{margin:0;padding:0}div.pagewrap a{color:red;text-decoration:none;font-weight:bold;letter-spacing:0}div.pagewrap a:hover{text-shadow:0 0 10px #000;color:#0A0}#extralogo{text-align:center;margin:0 auto;margin-top:140px;margin-bottom:40px;padding:0 20px}
img.bg{align:center;width:50%;margin:0 25%;height:auto;position:fixed;top:0;left:0}div.pagewrap{position:relative;z-index:5}h1.tryme{padding-bottom:20px}a.homelinks{border:2px solid transparent;padding:0 10px;margin:3px;display:inline-block;zoom:1;text-align:center;*display:inline}a.homelinks:hover{border:2px solid #111;background-color:#111;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}