<a name="api"></a>
<h2>API</h2>
<p>I must tell the truth about it, because I wrote much code without even a bit of documentation for core functions,
    extensions and worst of all I had 0% code test coverage. I was loosing too much time to look back and get out the
    API <b>looking at the code</b>, and that drove me into the urgency to code down a solution. I think I found it both
    for tests issue and documentation lackage.</p>
$backtotop$

<a name="coredoc"></a>
<h2>Documentation (core section)</h2>
<p>With <i>core</i> I mean all functionalities that can be found in the library without loading by hand additional
    extensions, these are : JMVC, Controller, View, Model, Interface, Promise, Event, Errors, dom, events, io, head,
    util, array, object.<br />
    The documentation is based on an .xml file (documentation.xml) and is shown using a tab extension, but is regards
    <strong>only</strong> the core section and is far from being completed. In the head of the Api page I`ll try to keep
    updated a day countdown, estimated on daily progresses.
    All test for each function will be shown within the document.<br />
    <a href="$baseurl$/api.jmvc">Here</a> You`ll find what will be the API specification document. At the moment You
    cannot rely on it, because I must fix data in the documentation.xml. In the head I estimated how many days I need
    yet to complete it, and I`m faithful to not go long.
</p>
$backtotop$
<a name="extdoc"></a>
<h2>Extensions documentation</h2>
<p>There is absolutely no documentation for the extensions that can be found on the repo. I am thinking about a
    solution, because the core is 20% and extensions are the 80% of the whole work.</p>
$backtotop$

<a name="testsuite"></a>
<h2>Test suite</h2>
<p>Googling around I read a <a href="http://javascriptweblog.wordpress.com/2011/05/03/javascript-strict-mode/"
        target="_blank">basic solution</a>. It`s pretty simple, maybe too simple, but has been a good base to start.
    Thank You Angus.</br>
    The testsuite API will clarify every aspect, and even those missing, at the moment. My goal is to reach at least 80%
    test coverage.
</p>
$backtotop$

<a name="why"></a>
<h2>Why?</h2>
<p>Why You need to know why?... really You do not see nowadays the value of doing that? If You dont then just keep
    kicking your can around.</p>
$backtotop$
<hr />
<hr />
<hr />
<p><a href="$baseurl$">$baseurl$</a></p>