<h1>Device Orientation API</h1>
<span id="do-unsupported" class="hidden">deviceorientation event not supported</span>
<span id="dm-unsupported" class="hidden">devicemotion event not supported</span>
<span id="cnc-unsupported" class="hidden">compassneedscalibration event not supported</span>

<div id="do-results">
    <div id="cube" class="cube">
        <div class="face one">1</div>
        <div class="face two">2</div>
        <div class="face three">3</div>
        <div class="face four">4</div>
        <div class="face five">5</div>
        <div class="face six">6</div>
    </div>
    <div id="do-info" class="hidden">
        <p>
            Coordinates: (
            <span id="beta" class="value">null</span>,
            <span id="gamma" class="value">null</span>,
            <span id="alpha" class="value">null</span>)
            <br />Position absolute?
            <span id="is-absolute" class="value">unavailable</span>
        </p>
    </div>
    <div id="dm-info" class="hidden">
        <p>
            Acceleration: (
            <span id="acceleration-x" class="value">null</span>,
            <span id="acceleration-y" class="value">null</span>,
            <span id="acceleration-z" class="value">null</span>) m/s
            <sup>2</sup>
        </p>
        <p>
            Acceleration including gravity: (
            <span id="acceleration-including-gravity-x" class="value">null</span>,
            <span id="acceleration-including-gravity-y" class="value">null</span>,
            <span id="acceleration-including-gravity-z" class="value">null</span>) m/s
            <sup>2</sup>
        </p>
        <p>
            Rotation rate: (
            <span id="rotation-rate-beta" class="value">null</span>,
            <span id="rotation-rate-gamma" class="value">null</span>,
            <span id="rotation-rate-alpha" class="value">null</span>)
        </p>
        <p>
            Interval:
            <span id="interval" class="value">0</span>milliseconds
        </p>
    </div>
</div>