
ul.lang{
	padding:0px;
	/*line-height:25px;*/
}
ul.lang li {
	display:inline-block;
	margin-left:16px;
	margin-top:11px;
}
ul.lang a{
	
}
ul.lang a img{
	opacity:0.4;
	padding:0px;
	margin:0px;
}
ul.lang a img:hover{
	opacity:1;
}
ul.lang a.active img{
	opacity:1;
	
	-moz-box-shadow:1px 1px 5px #000000;
    -webkit-box-shadow:1px 1px 5px #000000;
    box-shadow:1px 1px 5px #000000;
}
ul.lang a.active img:hover{
	opacity:1;
}
