
ul.lang{
	padding:0px 10px;
	line-height:21px;
}
ul.lang li {
	display:inline;
}
ul.lang a img{
	opacity:0.2;
	padding:0px;
	margin:0px;
	margin-right:6px;
}
ul.lang a img:hover{
	opacity:0.6;
}
ul.lang a.active img{
	opacity:1;
}
ul.lang a.active img:hover{
	opacity:1;
}
