<hr />
<div style="text-align:center">
	<a href="$baseurl$">
		<img src="$baseurl$/media/img/jmvc_h.png" alt="JMVC logo"/>
	</a>
</div>
<b>Description</b>: jmvc module<br />
<b>Contact</b>: fedeghe@gmail.com<br />
<b>Version</b>: $version$</br>
<b>Date</b>: 19-05-2012<br />
<hr>
<h3>Description</h3>
<p>JMVC implements the mvc pattern using <i>only</i> javascript. That is not completely true because
	the rooted .htaccess file allows to have one access point (index.html) that always loads the main jmvc source that
	process the request, gets the needed resources and changes the dom, while the url remains fiendly but....
	it means that from the point of view of a crawler every page contains what is in the original access file
	(index.html) and this will not correspond with what a user see as far as the page is renderer from a browser,
	and modified by jmvc under your directives. Check now the html source to see.<br />
	Using such a simple .htaccess requires <a href="http://www.apache.org/" target="_blank" title="http://www.apache.org/">Apache webserver</a> with rewrite module enabled; if You are so
	unlucky to use <a href="javascript:;" title="Sorry, I dont`t know where to find a free version!">IIS</a> it means that You'll have to use something that could be remotely similar to the
	Web.config file contained in the root. That file as is will not surely work, fortunately I cannot
	test it, but if You can I`m really sorry for You and I bet that You`ll have to spend some time to edit that file.
</p>

<h3>Installation</h3>
<p>Thanks to a basic .htaccess <cite>JMVC</cite> access point is an index.html which loads in the head the JMVC script
and is meant to have empty body, in any case the body content in most cases will be irrelevent, in fact the whole body
will be rewritten (although is possible to write into a particular element, standing it has an id attribute)<br />
NOTE: the src attribute of the script must be the absolute url for jmvc.js<br />
Get the source <a href="https://github.com/fedeghe/jmvc" target="_blank">here</a>
</p>


<h3>Features</h3>
{{features}}


<h3>Url structure</h3>
<p>Supposing we're using virtual host http://www.jmvc.dev , a location will be something like the following:</p>
<p>
http://www.jmvc.dev/C/A/n1/v1/n2/v2/n3?v4=Fede&v5=ghe
</p>
<ul>
	<li><label class="lab">proto+domain</label> : http://www.jmvc.dev</li>
	<li><label class="lab">controller</label> : C</li>
	<li><label class="lab">action</label> : A</li>
	<li><label class="lab">parameters</label> : n1/v1/n2/v2/n3</li>
	<li><label class="lab">querystring</label> : ?v4=Fede&v5=ghe</li>
</ul>
<br />
<p>All parameters (including those ones coming from querystring) will be automatically loaded into the current controller register, meaning that any view rendered from it can use 
	the placeholders to show their value.
</p>
<p><b>HINT</b>: parameters are meant to be even, in the controller You will be able
      to access and use 2 variables: n1="v1" and n2="v2"; the third
      one will be ignored because unvalued.</p>

<h3>Try it</h3>
<p>The fastest way to try it out is to create a virtual host or put it online (ex: http://www.jmvc.dev)</p>

<hr />

<h2>API</h2>
$desc$
<div id="footer"></div>
<hr />
