body {
    font-family:Verdana, sans-serif;
}
canvas {
    background-color: white;
    cursor: crosshair;
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
} 
#jmvcCEpanel {
    font-family:Verdana, sans-serif;
    background-color:#000;
    /*background-color: hsl(0, 100%, 50%);*/
    position:absolute;
    /*top:-25px;*/
    top : 0px;
    left:0px;
    color:white;
    font-size:10px;
    height:30px;
    width:100%;
    -moz-box-shadow: 0px 3px 5px #555;
    -webkit-box-shadow: 0px 3px 5px #555;
    box-shadow: 0px 3px 5px #555;
}
#jmvcCEpanel>ul>li {
    float : left;
    margin:0 auto;
    text-align:center;
    line-height:30px;
    font-size:30px;
    height:30px;
    padding:0px 10px;
}
#jmvcCEpanel>ul>li.fleft{
    float:left !important;
}
#jmvcCEpanel>ul>li.fright{
    float:right !important;
}

#jmvcCEpanel div.panel{
    display:none;
    background-color:#555;
    line-height:20px;
    /*min-height: 200px;
    min-width: 200px;*/
    /*width: 365px;*/
    -moz-box-shadow: 5px 3px 5px #000000;
    -webkit-box-shadow: 5px 3px 5px #000000;
    box-shadow: 5px 3px 5px #000000;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:10px;
}
#jmvcCEpanel div.panel div.arrow{
    position:absolute;
    top:-15px;
    left:0px;
    width:0px;
    height : 0px;
    border-left:20px solid #555;
    border-top:20px solid transparent;
}
#jmvcCEpanel div.panel div.inner{
    
}
#jmvcCEpanel div.panel ul.tools li {
    float:left;
    width:44px;
    height:44px;
    border:2px solid #111;
    margin-right:10px;
    margin-bottom:10px;
    cursor:pointer;
    overflow:hidden;
    background-image: url(/app/extensions/canvas/editor/css/tools.png);
    background-repeat: no-repeat;
}
#jmvcCEpanel div.panel ul.tools li.neighbour_points{    background-position:0px 0px;}
#jmvcCEpanel div.panel ul.tools li.dots_random{         background-position:-40px 0px;}
#jmvcCEpanel div.panel ul.tools li.fur_neighbour{         background-position:-80px 0px;}
#jmvcCEpanel div.panel ul.tools li.ribbon{         background-position:-120px 0px;}
#jmvcCEpanel div.panel ul.tools li:hover{
    transition-property: border-color;
    transition-duration: .4s;
    transition-delay: 0s;
    border-color: white;
}
#jmvcCEpanel div.panel ul.tools li.active{
    border-color: #f60;   
}

div#toolOptions>ul>li{
    border-top:1px dotted #aaa;
}

input[type=range] {
    width:300px;
    position:relative;
    top:7px;
}

/* COLORPICKER */
div.colorpicker div.hue{
    width : 360px;
    height : 17px;
    background-color : transparent;
    position:relative;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
}
div.colorpicker div.hue input[type=range] {
    position:absolute;
    top:-3px;
    left:0px;
    width:100%;
} 
div.colorpicker div.hue div.huethick{
    float:left;
    height:20px;
    width:1px;
}
div.colorwrap{
    float:left;
    background-color:white;
    margin-top:10px;
    margin-left:10px;
}
div.colorpicker div.color{
    width:60px;
    height:60px;
    margin:2px;
    border:1px solid #aaa;
}
div.colorpicker li{
    line-height:20px;
}
div.colorpicker input[type=range]{
    width:264px;
    margin:0px;
    padding:0px;
    height:20px;
}
div.colorpicker span{
    line-height:20px;
}
div.colorpicker ul{
    float:left;

}
/*---------------*/

button {
    border : 1px solid white;
    background-color : black;
    color:white;
    font-weight:bold;
    height:22px;
    cursor:pointer;
}
.round-right {
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.round-left {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.round{
    -moz-border-radius-:5px;
    -webkit-border-radius:5px;
    border-radius:5px;   
}
.strong{
    font-weight:bold;
}
div.selection {
    background-color:white;
    border:1px dashed #f00;
    opacity: 0.4;
    cursor: move;
    position:absolute;
}
ul.effectlist {
    
}
ul.effectlist li.effect{
    cursor:pointer;
    padding:3px;
}
ul.effectlist li.effect:hover{
    background-color:#333;
}
div.loadingspinner{
    display:none;
    border:1px solid #aaa;
    border-top:0px;
    width:79px;
    height:79px;
    margin:0 auto;
    background-image : url(/app/extensions/canvas/editor/css/spinnerbig.gif);
    background-repeat: no-repeat;
    -moz-border-radius-bottomleft:40px;
    -moz-border-radius-bottomright:40px;
    -webkit-border-bottom-left-radius:40px;
    -webkit-border-bottom-right-radius:40px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
}
div.modalPanel{
    -moz-box-shadow: 0px 0px 5px #222;
    -webkit-box-shadow: 0px 0px 5px #222;
    box-shadow: 0px 0px 5px #222;
    background-color: white;
    z-index: 200;
}
div.modalPanel .modalHeader{
    background-color:black;
    color:white;
    padding:10px;
}
.pointer{
    cursor:pointer;
}