<h2><a name="api"></a>API</h2>
<p>I must tell the truth about it, because I wrote much code without even a bit of documentation for core functions, extensions and worst of all I had 0% code test coverage. I was loosing too much time to look back and get out the API <b>looking at the code</b>, and that drove me into the urgency to code down a solution. I think I found it both for tests issue and documentation lackage.</p>
$backtotop$

<h2><a name="coredoc"></a>Documentation (core section)</h2>
<p>With <i>core</i> I mean all functionalities that can be found in the library without loading by hand additional extensions, these are : JMVC, Controller, View, Model, Interface, Promise, Event, Errors, dom, events, io, head, util, array, object.<br/>
The documentation is based on an .xml file (documentation.xml) and is shown using a tab extension, but is regards <strong>only</strong> the core section and is far from being completed. In the head  of the Api page I`ll try to keep updated a day countdown, estimated on daily progresses.
All test for each function will be shown within the document.<br/>
<a href="$baseurl$/api.jmvc">Here</a> You`ll find what will be the API specification document. At the moment You cannot rely on it, because I must fix data in the documentation.xml. In the head I estimated how many days I need yet to complete it, and I`m faithful to not go long.
</p>
$backtotop$

<h2><a name="extdoc"></a>Extensions documentation</h2>
<p>There is absolutely no documentation for the extensions that can be found on the repo. I am thinking about a solution, because the core is 20% and extensions are the 80% of the whole work.</p>
$backtotop$

<h2><a name="testsuite"></a>Test suite</h2>
<p>Googling around I read a <a href="http://javascriptweblog.wordpress.com/2011/05/03/javascript-strict-mode/" target="_blank">basic solution</a>. It`s pretty simple, maybe too simple, but has been a good base to start. Thank You Angus.</br>
The testsuite API will clarify every aspect, and even those missing, at the moment. My goal is to reach at least 80% test coverage.
</p>
$backtotop$
<h2><a name="why"></a>Why?</h2>
<p>It&#39;s the first thing every developer ask every time he mess with another damn framework, no matter what is the language.<br />
	So why I`m doing that? I`m bored to look for javascript and find out non-answer that show me chunks of this or that framework; very quickly I started to find out the answer to any javascript question only with pure vanilla javascript.
	The benefits of this approach have been great and now I cannot do without that inner pattern. Even when I have to use a framework my comprehension of the code is better.<br />
	I suggest that approach to anyone who`s trying to get in real touch with the truth inner javascript nature. 
</p>
$backtotop$
<hr/>
<p><a href="$baseurl$">$baseurl$</a></p>