<style>
ul{
	padding:0px;
	margin:0px;
}
li{
	padding:0px;
	margin:0px;

}
</style>
<div id="divnode" style="height:300px; width:350px;overflow-y:scroll;border:1px solid blue;padding:0px 20px">
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
		<li>Item 5</li>
		<li>Item 6</li>
		<li>Item 7</li>
		<li>Item 8</li>
		<li>Item 9</li>
		<li>Item 10</li>
		<li>Item 11</li>
		<li>Item 12</li>
		<li>Item 13</li>
		<li>Item 14</li>
		<li>Item 15</li>
		<li>Item 16</li>
		<li>Item 17</li>
		<li>Item 18</li>
		<li>Item 19</li>
		<li>Item 20</li>
		<li>Item 21</li>
		<li>Item 22</li>
	</ul>
</div>
<!--
<br />
<textarea name="" id="divtextarea" cols="30" rows="10">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, laudantium officiis illum fugiat magnam voluptatem cumque labore aliquam praesentium minus distinctio sapiente voluptatum consequuntur libero laborum vel accusamus quisquam tenetur
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, molestias, quia, cum necessitatibus voluptatibus tempore aspernatur quam cumque recusandae dicta magni rem numquam et ut dolorem quo consequatur pariatur autem.
</textarea>
-->