#jmvc-console{
	position : absolute;
	background-color : #808080;
	color : black;
	font-size : 10px;
	z-index:200;
	font-family:arial, sans-serif;
}
#jmvc-console .console-head{
	height:40px;
	background-color:#333;
}
#jmvc-console .console-head a.ablock{
	
	margin-top:7px;
	height:33px;
	line-height:33px;
	text-align:center;
	font-size:22px;
	color:#fff;
	/*background-color: #606060;*/
	margin-right:10px;
	margin-left:15px;
	
	/*border-top:1px solid #606060;
	border-right:1px solid #606060;*/
	border-bottom:1px solid #ffffff;
	color:#ddd;
}
#jmvc-console .console-head a.ablock div.text{
	padding:0px 10px;
	background-color: #606060;
	color:#aaa;
}
#jmvc-console .console-head a.ablock{
	text-decoration:none;
}
#jmvc-console .console-head a.ablock div.text:hover {
	color:white;
}
#jmvc-console .console-head a.ablock.active{
	margin-top:6px;
}
#jmvc-console .console-head a.ablock.active div.text{
	/*border-top:1px solid #eee;
	border-right:1px solid #aaa;*/
	opacity:1;
	
	color:#0f0;
	background-color: #808080;
	/*border-right:1px solid #a0a0a0;
	border-top:1px solid #a0a0a0;*/
	height:35px;

}
#jmvc-console .console-head .ablock.active,
#jmvc-console .console-head .ablock.active:hover{
	color:#0f0;
	cursor:default;
}


div.input-divs{
	border-top:1px solid white;
}


div.input-divs div{
	display:none;
	background-color: #000;
	color:white;
	font-size:30px;
	margin:10px;
	height: $height$px;
}
div.input-divs div textarea{
	color:white;
	background-color: black;
	resize:none;
	line-height:16px;
	font-size:14px;

	padding-left:5px;
	width:99%;

	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
	

}
div.input-divs div.in-html textarea{color:#f00;}
div.input-divs div.in-javascript textarea{color:#0f0;}
div.input-divs div.in-css textarea{color:#00f;}
div.input-divs div.in-preview{}
div.input-divs div.in-options{}


a#preview .text/*.img*/{
	display:block;
	background-image : url($baseurl$/app/extensions/core/console/previewOC.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	width: 33px;
	height:32px;
	padding-right:10px;
	/*background-color: #606060;
	padding-bottom:2px;	*/
}
a#preview.active .text/*.img*/, a#preview:hover .text/*.img*/{
	background-position:-51px 0px;
}
a#options .text/*.img*/{
	display:block;
	background-image : url($baseurl$/app/extensions/core/console/gear1.png);
	background-repeat:no-repeat;
	background-position:2px 0px;
	width:12px;
	height:32px;
	/*padding-bottom:2px;	
	background-color: #606060;*/
}

button#get-url{
	color:#fff;
	background-color:#888;
	padding:2px;
	margin:10px;
	cursor:pointer;
}


#jmvc-console .console-head .ablock div.tri{
	height:0px;
	width:0px;
	border-bottom:31px solid #606060;
	border-left:20px solid #333;
	margin-top:-18px;
}
#jmvc-console .console-head .ablock.active div.tri{
	border-bottom:32px solid #606060;
	border-left:20px solid #333;
}
