@media (max-width: 720px) {
    body.resp {
        width :100%;
        margin: 0 auto;
        padding:5px !important;
        font-size:2em;
    }
    div{
        clear:both;
        width:100% !important;
    }
}
/*@media (min-width: 480px) {
    body.resp {
        width :480px !important;
        padding:0px 5px !important;
        font-size:2em;
    }
}*/
@media (min-width: 720px) {
    body.resp {
        width :720px !important;
        padding:0px 5px !important;
        font-size:1.5em;
    }
}
@media (min-width: 960px) {
    body.resp {
        width :960px !important;
        padding:0px 5px !important;
        font-size:1.2em;
    }
}
@media (min-width: 1200px) {
    body.resp {
        width :1200px !important;
        padding:0px 5px !important;
        font-size:1em;
    }
}
@media (min-width: 1560px) {
    body.resp {
        width :1560px !important;
        padding:0px 5px !important;
        font-size:1em;
    }
}
@media (min-width: 1920px) {
    body.resp {
        width :1920px !important;
        padding:0px 5px !important;
        font-size:1em;
    }
}
@media (min-width: 2520px) {
    body.resp {
        width :2520px !important;
        padding:0px 5px !important;
        font-size:1em;
    }
}