<table cellspacing="0" cellpadding ="3" border="0" width="600">
	<colgroup>
		<col width="100" class="$bg1$" />
		<col class="$bg2$" />
	</colgroup>
	<tr valign="top">
		<td colspan="2"><b>&gt; $func$</b></td>
	</tr>
	<tr valign="top"><td colspan="2"></td></tr>
	<tr valign="top">
		<td>Description</td><td>$description$</td>
	</tr>
	<tr valign="top"><td colspan="2"></td></tr>
	<tr valign="top">
		<td>Parameters</td><td>$parameters$</td>
	</tr>
	<tr valign="top"><td colspan="2"></td></tr>
	<tr valign="top">
		<td>Returns</td><td>$returns$</td>
	</tr>	
	<tr valign="top"><td colspan="2"></td></tr>
</table>
<br />