<table>
	<tr valign="top">
		<td>$fr$</td>
		<td>No global variables.</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Supports IE6+ and all alive browsers</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Load views and models (synchronous ajax requests, otherwise model eval is late) from a controller.</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Default `index` controller and action (configurable). </td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Each view, model or controller has his own hash as private registry to contain variables.</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>
			In views you can write special variable placeholders for other views or for view's variable:
			<ul>
				<li><strong>&#36;myvar&#36;</strong> for substitute a variable that you set to the View instance through the <strong>set</strong> method</li>
				<li><strong>&#123;&#123;my_view&#125;&#125;</strong> for loading the content of my_view in place of that</li>
				<li><strong>&#123;&#123;my_view name=`Federico` surname=`Ghedina`&#125;&#125;</strong> as previous but 
					here You can add on the fly variables to my_view, use &#36;name&#36; and &#36;surname&#36; in it,
					and find them replaced before render.
				</li>
			</ul>
		</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Dinamically load other scripts and stylesheets.</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>The content produced by default affects the content of the body, but You can choose to affect
	the content of a node with an ID attribute.
	You can edit the head with some limitations using JMVC.head methods (or your scripts).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>7.1Kb (packed).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Total warranty for completely seo <b>un</b>friendly pages :D</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Automatic extra parameters extraction from url (a/d/y/u/5/...).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Automatic extra parameters extraction from querystring (?id=3e3&t=rre&...).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Add action routes in the controller (see test controller).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Easily extend the JMVC object with your code (see trial extension).</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Allow .html extension or <b>any</b> extension You prefer</td>
	</tr>
	<tr valign="top">
		<td>$fr$</td>
		<td>Use placeholders even in js and css to substitute your own variables or the special
			preset variable <strong>&#36;baseurl&#36;</strong> (this can be useful for absolute path to images, or for chunks of style rules shared among more selectors).</td>
	</tr>
</table>