<style>
#tarea{
	height:100px;
}
</style>
<form name="prova" action="" method="get">
	<ul>
		<li>
			<label>name</label>
			<input type="text" id="name" name="name"/>
		</li>
		<li>
			<label>option</label>
			<select id="option" name="option"/>
				<option value="" selected="selected">no selection</option>
				<option value="o1">Option 1</option>
				<option value="o2">Option 2</option>
				<option value="o3">Option 3</option>
			</select>
		</li>
		<li>
			<label>textarea</label>
			<textarea id="tarea" name="tarea"></textarea>
		</li>
		<li>
			<label>checkbox</label>
			<input type="checkbox" id="chk" name="chk" value="chk1"/>
		</li>
		<li>
			<label>radio</label>
			<input type="radio" id="rad1" name="rad" value="a"/>
			<input type="radio" id="rad2" name="rad" value="b"/>
		</li>
	</ul>
	<input type="submit" name="Submit" value="Save" id="save" />
</form>