body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(green), to(blue));
  background-image: -webkit-linear-gradient(top, green, blue);
  background-image: -moz-linear-gradient(top, green, blue);
  background-image: linear-gradient(to bottom, green, blue);
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10%;
  color: white;
  font-family: verdana;
  font-size: 30px;
}
body h2 {
  font-size: 1em !important;
  padding: 20vh 0em !important;
}
