<pre>
   _  __  __ __     __ ____ 
  (_)|  \/  |\ \   / //  __|
  | || |\/| | \ \ / / | |    
  | || |  | |  \ v /  | |__ 
 _/ ||_|  |_|   \_/   \____|
|__/                      
</pre>
<b>Description</b>: jmvc module<br />
<b>Author</b>: Federico Ghedina<br />
<b>Version</b>: 0.1</br>
<b>Date</b>: 26-01-2012<br />
<hr>

<h3>Installation</h3>
<p>Thanks to a basic .htaccess jmcv access point is an index.html which loads in the head the main script
and is meant to have empty body, in fact the whole body will be rewritten (see index.html)
NOTE: the src attribute of the script must be the absolute url for jmvc.js</p>


<h3>Features</h3>
<ul style="list-style-type: none;margin:0;padding-left:5px">
	<li>$fr$ cross-browser</li>
	<li>$fr$ no global variables so no collisions are possible</li>
	<li>$fr$ url dispatching</li>
	<li>$fr$ load views and models (synchronous ajax requests, otherwise model eval is late) from a controller</li>
	<li>$fr$ default controller and action (inherited 'index')</li>
	<li>$fr$ each view, model or controller has his own hash as private registry to contain variables.</li>
	<li>$fr$ in views you can write special variable placeholders for other views or for view's variable:
		<ul>
			<li><b>&#36;variable_name&#36;</b> for variable</li>
			<li><b>&#123;&#123;my_view&#125;&#125;</b> for a view</li>
			<li><b>&#123;&#123;my_view name=`Federico` surname=`Ghedina`&#125;&#125;</b></li>
		</ul>
		these will be replaced with the element content (recusively parsed, within 10 nesting level)
	</li>
	<li>$fr$ dinamically load other scripts and stylesheets</li>
	<li>$fr$ the content produced by default affects the content of the body, but You can choose to affect
	the content of a node with an ID attribute.
	You can edit the head with some limitations using JMVC.head methods (or your scripts)</li>
	<li>$fr$ 7.1Kb (packed)</li>
	<li>$fr$ total warranty for completely seo <b>un</b>friendly pages</li>
	<li>$fr$ automatic extra parameters from url</li>
	<li>$fr$ automatic extra parameters from querystring</li>
	<li>$fr$ add action routes in the controller (see test controller)</li>
	<li>$fr$ easily extend the inner main object with your code (see trial extension)</li>
</ul>


<h3>Url structure</h3>
<p>Supposing we're using virtual host http://www.jmvc.dev , a location will be something like the following:</p>
<pre>
                http://www.jsbase.dev / controller / action / var1/val1/var2/val2/var3 ? var4=Fred&var5=notme&var1=foo
                '-------------------'   '--------'   '----'   '----------------------'   '---------------------------'
                         A                   A          A                A                            A
> proto+domain ----------'                   |          |                |                            |
                                             |          |                |                            |
> controller -------------------------------'           |                |                            |
                                                        |                |                            |
> action ----------------------------------------------'                 |                            |
                                                                         |                            |
> parameters -----------------------------------------------------------'                             |
                                                                                                      |
> get params (do not override previous) -------------------------------------------------------------'
</pre>

<p><b>NOTE</b>: parameters are meant to be even, in the controller You will be able
      to access and use 2 variables: var1="val1" and var2="val2"; the third
      one will be ignored because unvalued.</p>

<h3>Try it</h3>
<p>The fastest way to try it out is to create a virtual host or put it online (ex: http://www.jmvc.dev)</p>

<hr /><hr /><hr />

<h2>API</h2>
$desc$








