<hr />
<% if(true){ %> <h6>Tpl engine active</h6> <% } %>
<div style="text-align:center;margin:40px 0px;">
	<a href="$baseurl$" style="display:block">
		<img width="476" height="136"  src="$baseurl$/media/img/jmvc_m1.png" />
	</a>
</div>
<b>Description</b>: jmvc module<br />
<b>Contact</b>: fedeghe@gmail.com<br />
<b>Version</b>: $version$ (rev. $review$)</br>
<b>Last modified</b>: $last_modified$<br />
<b>Render time</b>: <span id="render_time">[[JMVC.vars.rendertime]] ms</span><br />
<hr>
<h3>Description</h3>
<p>JMVC implements the mvc pattern using <i>only</i> javascript. That is not completely true because
	the rooted .htaccess file allows to have one access point (index.html) that always loads the main jmvc source that
	process the request, gets the needed resources and changes the dom, while the url remains fiendly but....
	it means that from the point of view of a crawler every page contains what is in the original access file
	(index.html) and this will not correspond with what a user see as far as the page is renderer from a browser,
	and modified by jmvc under your directives. Check now the html source to see.<br />
	Using such a simple .htaccess just requires <a href="http://www.apache.org/" target="_blank" title="http://www.apache.org/">Apache webserver</a> with rewrite module enabled.
</p>

<h3>Get started</h3>
<p>Thanks to a basic .htaccess <cite>JMVC</cite> access point is an index.html which loads in the head the JMVC script
and is meant to have empty body, in any case the body content in most cases will be irrelevent, in fact the whole body
will be rewritten (although is possible to write into a particular element, standing it can be spotted by the minimal selection engine)<br />
NOTE: the src attribute of the script must be the absolute url for jmvc.js<br />
Get the source <a href="https://github.com/fedeghe/jmvc">here</a>
</p>


<h3>Features</h3>
{{features}}


<h3>Url structure</h3>
<p>Supposing we`re using virtual host http://www.jmvc.dev , a location will be something like the following:</p>
<p>
	<span style="color:red">http://www.jmvc.dev</span>/<span style="color:green">Cnt</span>/<span style="color:blue">Act</span>/<span style="color:#f0f">n1/v1/n2/v2/n3</span><span style="color:#63c">?v4=Fede&v5=ghe</span>
</p>
<ul>
	<li><label class="lab" style="color:red">proto+domain</label> : http://www.jmvc.dev</li>
	<li><label class="lab" style="color:green">controller</label> : Cnt</li>
	<li><label class="lab" style="color:blue">action</label> : Act</li>
	<li><label class="lab" style="color:#f0f">extra parameters</label> : n1/v1/n2/v2/n3</li>
	<li><label class="lab" style="color:#63c">querystring</label> : ?v4=Fede&v5=ghe</li>
</ul>
<br />
<p>All parameters (including those ones coming from querystring) will be automatically loaded into the current controller register, meaning that any view rendered from it can use 
	the placeholders to show their value.
</p>
<p><b>HINT</b>: parameters are meant to be even, in the controller You will be able
      to access and use 2 variables: n1="v1" and n2="v2"; the third
      one will be ignored because unvalued.</p>

<h3>Try it</h3>
<p>The fastest way to try it out is to create a virtual host or put it online (ex: http://www.jmvc.dev)</p>

<hr />

<h2>API</h2>
$desc$	
<div id="desc"></div>
<div id="footer"></div>
<hr />
