
body{
	background-color:yellow !important;
}
table.cal{
	border:1px solid black;
	padding:0px;
	table-layout: table;
	cell-spacing:5px;
	background-color:black;
	font-family: Gill, Helvetica, sans-serif;
	color:red;
}
td.calendar{
	background-color : red;
}
table.cal th, table.cal td{
	line-height:14px;
	font-size:12px;
}
table.cal td.pre, table.cal td.curr, table.cal td.after{
	text-align: center;
	border:1px solid black;
	padding:5px;
	background-color:#fff;
}
table.cal td.pre, table.cal td.after{
	background-color:#ddd;
	color:#a00;
}
table.cal td.curr:hover{
	color:#fff;
	background-color: #000;
	cursor:pointer;
	font-weight:bold;
}
